

<footer class="container bg-gray-900 m-auto m-auto p-3 mt-20">

    <div class="grid grid-cols-2 gap-5">

        <div class="flex flex-col">
            <a href="https://github.com/Fernando-Medeiros" target="blank">
                <ion-icon name="logo-github" class="text-4xl text-gray-400"></ion-icon>
            </a>

            <a href="https://www.linkedin.com/in/fernando-de-alvarenga-medeiros-037306207/" target="blank">
                <ion-icon name="logo-linkedin" class="text-4xl text-gray-400"></ion-icon>
            </a>

            <a href="https://www.youtube.com/channel/UC4DtvxaUeEZHmqafh5mSOLg" target="blank">
                <ion-icon name="logo-youtube" class="text-4xl text-gray-400"></ion-icon>
            </a>
        </div>

        <div>
            outras informações

        </div>
    </div>

</footer>