{% load static %}

<!-- LEFT -->
<nav class="fixed flex justify-evenly bg-gray-900 flex-col w-auto h-full px-3 text-gray-400">
    
    <a href="{% url 'homePage:home' %}" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:text-green-700 scale-110 hover: duration-300">
        <ion-icon name="home-outline" class="text-3xl"></ion-icon>
    </a>

    {% if not request.user.is_authenticated %}
        <a href="{% url 'authUser:login' %}" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:text-green-700 scale-110 hover: duration-300">
            <ion-icon name="log-in-outline" class="text-3xl"></ion-icon>
        </a>
    {% endif %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'authUser:logout' %}" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:text-green-700 scale-110 hover: duration-300">
            <ion-icon name="log-out-outline" class="text-3xl"></ion-icon>
        </a>
    {% endif %}

    <hr>

    <a href="#about" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:text-green-700 scale-110 hover: duration-300">
        <ion-icon name="person-outline" class="text-3xl"></ion-icon>
    </a>

    <a href="#stacks" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:text-green-700 scale-110 hover: duration-300">
        <ion-icon name="code-slash-outline" class="text-3xl"></ion-icon>
    </a>

    <a href="#projects" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:text-green-700 scale-110 hover: duration-300">
        <ion-icon name="game-controller-outline" class="text-3xl"></ion-icon>
    </a>

</nav>