{% extends 'base.html' %}
{% load static %}


{% block content%}

<main class="m-auto p-3 flex flex-col gap-20
            md:ml-20">
    

    <!-- ABOUT -->
    <section id="about" class="w-full h-auto">

        <!-- CONTACT -->
        <div class="container m-auto flex flex-row justify-end items-center w-full h-auto gap-6 p-2 text-gray-400 mb-5">

            <a href="{{ userDetail.detail.first.github }}" target="blank"
            class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
                <ion-icon name="logo-github" class="text-4xl"></ion-icon>
            </a>

            <a href="{{ userDetail.detail.first.linkedin }}" target="blank"
            class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
                <ion-icon name="logo-linkedin" class="text-4xl"></ion-icon>
            </a>

            <a href="{{ userDetail.detail.first.youtube }}" target="blank"
            class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
                <ion-icon name="logo-youtube" class="text-4xl"></ion-icon>
            </a>
        </div>


        <div class="container m-auto flex flex-col-reverse w-full h-auto
                    md:grid grid-cols-2">
            
            <span id="text" class="items-center text-center m-auto p-2 text-lg">
               {{ userDetail.detail.first.about|linebreaksbr }} 
            </span>
            

            <!-- PROFILE -->
            <div class="flex flex-col justify-center items-center text-center gap-5 p-2">
                
                <img src="{{ userDetail.detail.first.photo.url }}"
                class="rounded-full max-w-[220px]
                transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">

                <span> {{ userDetail }} </span>

            </div>

        </div>

    </section>



    <!-- STACKS -->
    <section id="stacks" class="w-full h-auto
                                md:h-auto">

        <div class="container m-auto grid grid-row-auto w-full h-auto gap-20">

            <!-- STACKS -->
            <div class="grid grid-row-2 items-center w-full h-auto">
                
                <h1 class="p-2 text-lg">
                    Stacks
                </h1>
                <div class="flex flex-row flex-wrap justify-around items-center w-full h-auto gap-2 p-2 border border-yellow-50/5">
                   
                    {% for stack in allStacks %}
                        {% if stack.category != 'LIBS' %}
                            <img src="{{ stack.icon.url }}" class="p-1 w-[38px] md:w-[58px] p-0
                            transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
                        {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
            

            <main class="grid grid-row-2 gap-10
                         md:grid-row-2 ">

                <!-- FORMAÇÃO -->
                <div>

                    <h1 class="p-2 text-lg h-min">
                        Formação
                    </h1>

                    <div class="container flex flex-row-auto flex-wrap  text-center justify-around w-full h-auto gap-10 border border-yellow-50/5 p-2 m-auto">
                        
                        {% for formation in userDetail.formation.all %}
                        
                            <div class="flex flex-col justify-around items-center h-auto w-auto gap-3 p-2 border border-yellow-50/5 bg-black/5 rounded
                            transition ease-in-out delay-150 hover:-translate-y-1 hover:border-yellow-500/25 scale-100 hover: duration-300
                            md: w-[320px]">
                                
                                <p class="text-lg">                                   
                                    {{formation.name}}
                                </p>

                                {% if formation.end.year < 2022%}
                                    <ion-icon name="checkmark-circle" class="text-2xl text-green-500"></ion-icon>
                                {% else %}
                                    <ion-icon name="book" class="text-2xl text-yellow-500"></ion-icon>
                                {% endif %}
                                
                                <div class="flex flex-row justify-between items-center gap-10 w-full p-2 border border-yellow-50/5 bg-blue-700/10 rounded">
                                   
                                    <p> {{formation.start.month}} / {{formation.start.year}} </p>
                                    -
                                    <p> {{formation.end.month}} / {{formation.end.year}} </p>
                                
                                    <a href="{{ formation.link }}" target="blank"
                                    class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
                                        <ion-icon name="link-outline" class="text-2xl"></ion-icon>    
                                    </a>
                                </div>

                            </div>
                        {% endfor %}

                    </div>
                </div>

                <!-- CURSOS -->
                <div>

                    <h1 class="p-2 text-lg">
                        Cursos
                    </h1>

                    <div class="container flex flex-row-auto flex-wrap  text-center justify-around w-full h-auto gap-10 border border-yellow-50/5 p-2 m-auto">
                        
                        {% for course in userDetail.course.all %}
                        
                            <div class="flex flex-col justify-around items-center h-auto w-auto gap-3 p-2 border border-yellow-50/5 bg-black/5 rounded
                            transition ease-in-out delay-150 hover:-translate-y-1 hover:border-yellow-500/25 scale-100 hover: duration-300
                            md: w-[320px]">
                                
                                <p>
                                    {{course.name}}
                                </p>
                                
                                {% if course.end.year <= 2022%}
                                    <ion-icon name="checkmark-circle" class="text-2xl text-green-500"></ion-icon>
                                {% else %}
                                    <ion-icon name="book" class="text-2xl text-yellow-500"></ion-icon>
                                {% endif %}

                                <div class="flex flex-row justify-between items-center gap-10 w-full p-2 border border-yellow-50/5 bg-blue-700/10 rounded">
                                    
                                    <p> {{ course.start.month }} / {{ course.start.year }} </p>
                                    -
                                    <p> {{ course.end.month }} / {{ course.end.year }} </p>
                                    
                                    <a href="{{ course.link }}" target="blank"
                                    class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
                                        <ion-icon name="link-outline" class="text-2xl"></ion-icon>    
                                    </a>                                    
                                </div>

                            </div>
                        {% endfor %}
                    </div>

                </div>
            </main>

        </div>
    </section>




    <!-- PROJECTS -->
    <section id="projects" class="w-full h-auto">
        
        <h1 class="p-2 container m-auto text-lg">
            Projetos
        </h1>
       
        <div class="container flex flex-row-auto flex-wrap  text-center justify-around w-full h-auto gap-10 border border-yellow-50/5 p-2 m-auto">

            {% for project in userDetail.project.all %}

                    <div class="flex flex-col justify-around items-center h-auto w-auto gap-7 p-2 border border-yellow-50/5 bg-black/5 rounded
                                transition ease-in-out delay-150 hover:-translate-y-1 hover:border-yellow-500/25 scale-100 hover: duration-300
                                md: max-w-[360px]">
                        

                        <img src="{{ project.template.url }}" class="rounded-lg w-auto h-auto object-cover">

                        <h1 class="text-2xl"> {{ project.title }} </h1>

                        <p class="text-lg"> {{ project.description }} </p>                
                        
                     
                        <div class="flex flex-row justify-between items-center gap-10 w-full p-2 border border-yellow-50/5 bg-violet-500/5 rounded">

                            <!-- STACKS -->
                            <div class="flex flex-row flex-wrap justify-around gap-1 w-full">

                                {% for stack in project.stack.all %}
                                    <img width="38px" src="{{ stack.icon.url }}" class="p-1">
                                {% endfor %}

                            </div>

                             <!-- LINKS -->
                            <div class="flex flex-row items-center gap-7 w-auto h-auto">

                                <a href="{{ project.github }}" target="blank"
                                class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
                                    <ion-icon name="logo-github" class="text-4xl"></ion-icon>                    
                                </a>
    
                                <a href="{{ project.link }}" target="blank"
                                class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
                                    <ion-icon name="link-outline" class="text-4xl"></ion-icon>    
                                </a>

                            </div>
                        </div>                        
                    </div>
            {% endfor %}
        </div>
    </section>

</main>


{% endblock %}


